<p>
  Currently, I am the lead software engineer of
  <a href="https://telco.in/">Telcoin</a>. I graduated with an MS from BYU,
  where I studied NLP/machine learning and worked in the
  <a href="https://pcc.cs.byu.edu/">Perception, Control and Cognition Lab</a>,
  focusing on conversational AI. I am also a co-founder and CTO at
  <a href="https://voxjar.com">Voxjar</a>.
</p>

<p>
  I am also an ML hacker, DeFi dabbler, PL explorer, and a proud
  <a href="https://www.rustaceans.org">Rustacean</a>. I keep busy with
  <a href="https://github.com/mwilliammyers">various</a> open source projects.
</p>
